@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
	--bg: #141d26;
	--deepest: #000;
	--accent: #c51f5d;
	--soft: #232d3a;
	--contrast: #E9EAEC;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
  
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: var(--bg);
  
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	color: var(--contrast);

	font-family: 'Source Code Pro', monospace;
  }